# displacement/
# archive/
# backups/
# new/
# reftable
# tmp/
# gellowifipi.c
# hank/hank-latest-3.1/tankmon/libraries/

# this repo lives in a linux home directory

# folders where code can be stored and not tracked
trash
ignored

# ignore any congif files that get created in home
/.*
!/.gitignore

# global ignores
*.o
*.log
*.exe
node_modules/
logs/

# explicit inclusion of src
# /*
# !/bin
# !/bridge
# !/camera
# !/compositebridge.org
# !/data
# !/hank
# !/scripts
# !/strain
# !/UDPengine
# !/web
# !/www
# !/changelog.md
# !/makefile
# !/README.md
