.DS_Store
._.DS_Store
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbshell
.git-credentials
.gitconfig
.gnupg/
.lesshst
.local
.mongorc.js
.mysql_history
.node_repl_history
.node-gyp
.pnpm/
.python_history
.npm/
.nvm/
.pm2/
.pnpm-store/
.profile
.ssh/
.unionfs-fuse/
.sudo_as_admin_successful
.vim/
.vimrc
.viminfo
.vscode-server/
.wget-hsts
.yarnrc
*.o
*.exe
dbtestmon
DM/e_UDPengine.log
DM/UDPengine
DM/dbtestmon
DM/start.log
hank/hank-latest-3.1/wifipi/wifipi
archive/
backups/
new/
node_modules/
reftable
tmp/
logs/
gellowifipi.c
hank/hank-latest-3.1/tankmon/libraries/
DM/UDPengine
DM/dbtestmon
micro
to_be_trashed
.gitcredentials
