# this repo lives in a linux home directory

# ignore any config files that get created in home
/.*
!/.gitignore

# global ignores
*.o
*.log
*.exe
node_modules/
logs/
tmp/

# local ignores
/yarn.lock
/micro
/displacement/
/tmp/

# folders where code can be stored and not tracked
/trash/
/ignored/
