.responsive-iframe-container {
  --height: 80%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;

  padding-top: calc(var(--height) * 0.5625);
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin: 0 auto;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

$link-color: lightblue;
$orange: #ff8200;

.link {
  display: block;
  transition: background;
  transition-duration: 0.3s;

  &:hover {
    color: var(--gray);
  }
  &.faded {
    color: #999;
    &:hover {
      color: var(--gray);
    }
  }
  &.active {
    background: $orange;
    font-style: italic;
    text-transform: uppercase;
    color: white;
    font-size: 0.8em;
  }
}

.title {
  display: inline-block;
  border-bottom: 0.4rem solid var(--orange);
  margin: 0 auto;
  font-size: 3rem;
  margin-top: 2rem;
  // margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.2rem;
}

.ugly-header {
  color: red;
  font-style: italic;
}

.image {
  width: 100%;
  height: auto;
  vertical-align: center;
}

.quote {
  font-style: italic;
}
