@mixin reset {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
}

$gray: #58595b;

:root {
  --orange: #ff8200;
  --gray: #58595b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: $gray;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 120%;
}

* {
  @include reset;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: 0;
  background: inherit;
  cursor: pointer;
}
