.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  // width: 100%;
  // height: 100%;
  bottom: 0;
  right: 0;
}

.filled {
  width: 100%;
  height: 100%;
}

.p {
  padding: 2rem;
}

.fixed-height {
  display: flex;
  align-items: center;
  height: var(--fixed-height);
}

.py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cols-2 {
  & > * {
    width: 50%;
  }
}

.cols-3 {
  & > * {
    width: 33%;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
