.container {
  max-width: 40rem;
  margin: 0 auto;
}

.p {
  padding: 2rem;
}

.fixed-height {
  display: flex;
  align-items: center;
  height: var(--fixed-height);
}

.py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cols-2 {
  & > * {
    width: 50%;
  }
}
